body {
  --noise-interval: 1000;
  min-height: 300vh;
  transition: opacity 1s;
  opacity: var(--loaded);
}

.test {
  width: 100px;
  height: 100px;
  background: #555;
  border-radius: 50%;
  top: 0;
  left: 32px;
  position: absolute;
}

.test2 {
  top: 200px;
  left: 400px;
  width: 40px;
  height: 30px;
  background: blue;
  position: absolute;
}
.momentumcss {
  transform: translatey(calc(var(--scrolly)*1.5px + 50px));
}

.jitter {
  transform: translateX(calc(var(--noise)*10px - 5px));
  transition: transform 1000ms linear;
}
.initter {
  width: 100px;
  height: 100px;
  background: green;
  transform: translateY(calc(var(--noise)*10px - 5px));
  transition: transform 200ms linear;
  transition-delay: -150ms;
}