body {
    min-height: 300vh;
    --noiseinterval: 5s;
}

.test {
    width: 100px;
    height: 100px;
    background: #555;
    border-radius: 50%;
    top: 0;
    left: 32px;
    position: absolute;
}
.momentumcss {
    transform: translatey(calc(var(--scrolly)*2 + 100px));
}